# OS
.DS_Store
Thumbs.db

# Vercel/cache
.vercel

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android/TWA build
.gradle/
build/
app/build/
*.apk
*.aab
*.keystore

# IDE
.vscode
.idea

.vercel
